<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mowebs">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".RatingActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".ProductDetailActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".BookingActivity"
            android:exported="false" />
        <activity
            android:name=".CompletedActivity"
            android:exported="false" />
        <activity
            android:name=".ExploreActivity"
            android:exported="false" />
        <activity
            android:name=".OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>